{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="hero-image">
    <div class="container pt-5">
        <form method="POST" class="w-50 m-auto border border-1 p-3">
            <h2 class="text-white ">Hesabı silmek istediğine emin misin?</h2>
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sil</button>
            <button class="btn btn-primary">
                <a class="text-decoration-none text-white" href="{% url 'index' %}">İptal</a>
            </button>
        </form>
    </div>
</div>

{% endblock content %}