{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exxen Anasayfa</title>

    <!-- ! Exxen Favicon -->
    <link rel="icon" href="{% static 'img/logoo.jpg' %}" type="icon/x-image">

    <!-- ! Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- ! Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- ! External CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- AOS CSS CDN -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <style>
        .alert {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        }
        .alert.show {
            opacity: 1;
        }
        .alert.hide {
            opacity: 0;
        }
    </style>
</head>
<body>

        {% if messages %}
          <ul>
              {% for message in messages %}
                  <li class="alert alert-{{ message.tags }}">{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}


        {% block content %}
        <!-- ! NAVBAR -->
        {% include "includes/_navbar.html" %}
          <!-- ! KAYIT BÖLÜMÜ -->
          <div class="containers arkaplan py-4 position-sticky top-0 z-1">
            <div class="row">
                <div class="col-12 col-lg-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control shadow-none rounded-0" placeholder="Kullanıcı Adı" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                </div>
                <div class="col-12 col-lg-4 mb-2">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control shadow-none rounded-0" placeholder="E-Posta Adresi" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                </div>
                <div class="col-12 col-lg-4 mb-2">
                    <button type="button" class="btn btn-warning fw-bold rounded-0 w-100 py-2">Üye Ol</button>
                </div>
            </div>
          </div>

          <!-- ! BÜYÜK FOTOĞRAF -->
          <div class="containers my-5">
            <img class="w-100" src="{% static 'img/14gun.webp' %}" alt="">
          </div>

          <!-- ! FİLMLER -->
          <div class="containers">
            <div class="row">
              {% for film in filmler %}
                {% if film.resim %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 position-relative">
                      <a href="">
                        <img height="300px" class="w-100 mb-3" src="{{ film.resim.url }}" alt="">
                      </a>                    
                      <p class="text-white fs-5 text-center fw-bold">{{ film.isim }}</p>
                      <p class="text-white text-center">Yüklenme Tarihi: {{ film.yuklenme_tarihi }}</p>
                    </div>
                  {% else %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 position-relative">
                      <a href="">
                        <img height="300px" class="w-100 mb-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Red_x.svg/600px-Red_x.svg.png" alt="">
                      </a>                    
                      <p class="text-white fs-5 text-center fw-bold">{{ film.isim }}</p>
                      <p class="text-white text-center">Yüklenme Tarihi: {{ film.yuklenme_tarihi }}</p>
                    </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>

          <!-- ! EKRANLAR -->
          <div class="containers my-5">
            <img class="d-block m-auto w-75" src="{% static 'img/ekranlar.svg' %}" alt="">
            <p class="text-white fw-bold text-center mt-4 fs-3 w-75 m-auto">Hemen üye ol, cepte, tablette, bilgisayarda, istediğin zaman, istediğin yerde exxen.com, Google Play, AppGallery, App Store, Apple TV ve Android TV'den izlemeye başla.</p>
          </div>

          <!-- ! LOGOLAR -->
          <div class="containers">
            <div class="row">
                <div class="col-12 mb-2 col-lg-4">
                    <img class="w-75 d-block m-auto ms-lg-auto" src="{% static 'img/app-store-2.svg' %}" alt="">
                </div>
                <div class="col-12 mb-2 col-lg-4 ">
                    <img class="w-75 d-block m-auto" src="{% static 'img/google-play@3x.png' %}" alt="">
                </div>
                <div class="col-12 mb-2 col-lg-4 ">
                    <img class="w-75 d-block m-auto me-lg-auto" src="{% static 'img/huawei-app-gallery@3x.png' %}" alt="">
                </div>
            </div>
          </div>

          <!-- ! SOSYAL MEDYA İKONLARI -->
          <div class="containers my-5 text-center">
            <i class="fa-brands mx-2 bg-white fs-2 p-1 rounded-1 fa-instagram"></i>
            <i class="fa-brands mx-2 bg-white fs-2 p-1 rounded-1 fa-facebook"></i>
            <i class="fa-brands mx-2 bg-white fs-2 p-1 rounded-1 fa-twitter"></i>
            <i class="fa-brands mx-2 bg-white fs-2 p-1 rounded-1 fa-youtube"></i>
            <i class="fa-brands mx-2 bg-white fs-2 p-1 rounded-1 fa-tiktok"></i>
          </div>

          <!-- ! Exxen Yardım Merkezi -->
          <h4 class="text-center text-warning fw-bold mt-5">Exxen Yardım Merkezi</h4>
          <h6 class="text-white text-center mb-5 mt-3">Künye</h6>
      {% endblock content %}      


    <!-- ! Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script>
      const süre = document.querySelector(".süre");

      setTimeout(() => {
          süre.style.display = "none";
      }, 3000);
  </script>

    <!-- AOS CDN JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>

    <script>
      
      document.addEventListener("DOMContentLoaded", function() {
          const messages = document.querySelectorAll('.alert');
  
          messages.forEach(function(message) {
              message.classList.add('show');
  
              setTimeout(function() {
                  message.classList.add('hide');
              }, 3000);
  
              setTimeout(function() {
                  message.style.display = 'none';
              }, 3500);
          });
      });

    </script>
</body>
</html>